# Common
node_modules/
npm-debug.log
yarn-error.log
.DS_Store

# Backend (ecommerceBackend)
ecommerceBackend/node_modules/
ecommerceBackend/.env
ecommerceBackend/logs/
ecommerceBackend/dist/
ecommerceBackend/coverage/

# Frontend (ecommerceFrontEnd)
ecommerceFrontEnd/node_modules/
ecommerceFrontEnd/.env
ecommerceFrontEnd/build/
ecommerceFrontEnd/dist/
ecommerceFrontEnd/coverage/
ecommerceFrontEnd/.env.local
ecommerceFrontEnd/.env.development.local
ecommerceFrontEnd/.env.test.local
ecommerceFrontEnd/.env.production.local
